html {
	font-size: 10px;
}
body {
	margin: 0;
	font-family: 'Lato regular', sans-serif;
	background-color: #fff;
	font-size: 1.6rem;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
a {
	margin: 0;
	padding: 0;
}
a:link, a:visited, a:active {
	text-decoration: none;
	color:#fff;
}
p {
	margin: 0;
}
 
ul {
	margin: 0;
	padding: 0;
}
/*HEADER SECTION
_________________________________________________________________*/
.container {
	width: 100%;
	max-width: 1020px;
	margin: 0 auto;
	padding: 0 40px;
}
.header {
	padding: 34px 0 30px;
	background-color: #2d303a;
	border-bottom: solid 6px #323746;
	text-transform: uppercase;
	color: #fff;
}
.logo>span {
	color: #dc655f;
	transition: color .3s linear;
}
.header_box {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.logo {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -.36px;
	cursor: pointer;
	transition: color .3s linear;
}

.main_menu {
	display: flex;
	font-size: 1.2rem;
	font-weight: 700;
	list-style: none;
	margin-left:452px;
}

.menu_item {
	margin-right: 29px;
	position: relative;
	cursor: pointer;
}
	li:after {
	content: "";
	background-color: #494e62;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	right: -17px;
	transform: translateY(-50%);
}
.menu_item:hover {
	color: #f06c64;
}
.menu_item>a {
	transition: color .3s linear;
}
.menu_item_active>a {
	color: #f06c64;
}
.menu_item>a:hover {
	color: #f06c64;
	border-bottom: solid 2px #f06c64;

}
.menu_item:last-child {
	margin-right: 0: 
}
.menu_item:last-child:after {
	width: 0;
}
.menu_item_active {
	color: #f06c64;
}
/*_________________________________________________________________*/


/*MAIN SECTION
____________________________________________________________________*/
.main {
	height: 600px;
	background-color: #f06c64;
	border-bottom: solid 6px #ea676b;
}
.slider_container {
	position: relative;
}
.slider_box {
	display: flex;
}
.phone_vert {
	padding: 53px 0 0 72px;
}

.phone_hor {
	padding: 174px 0 0 73px;
}
.back {
	position: absolute;
	top: 52%;
	left: 2px;
	cursor: pointer;
}
.next {
	position: absolute;
	top: 52%;
	right: 0;
	cursor: pointer;
}
/*______________________________________________________________*/
/*SERVICES
_______________________________________________________*/
.services {
	padding: 63px 0 31px;
	background-color: #f2f2f2;
	border-bottom: 6px solid #fff;
}
.service_header {
	margin-bottom: 16px;
	font-family: 'Lato black', sans-serif;
	font-size: 3rem;
	font-weight: 400;
	color: #666d89;
	word-spacing: -1.5px;
}
.container>p {
	margin-bottom: 43px;
	font-size: 1.8rem;
	font-weight: 300;
	color:#767e9e;
	line-height: 30px;
	text-align: justify;
	letter-spacing: -.4px;
}
.service_box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.service_item {
	margin-bottom: 30px;
	width: 33%;
	max-width: 299px;
	max-height: 93px;
	padding-left: 79px;
	overflow: hidden;
	position: relative;
}

.service_item_logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 59px;
	height: 59px;
	padding: 15px;
	border: 2px solid #666d89;
	border-radius: 50%;
	position: absolute;
	top: 3px;
	left: 0;
}
.service_item_header {
	margin-bottom: 9px;
	color: #666d89;
	font-family: 'Lato black', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
}
.service_item_pen {
	letter-spacing: -.25px;
}
.service_item_bubble {
	letter-spacing: -.5px;
}
.service_item_sub {
	color: #767e7e;
	font-size: 1.2rem;
	line-height: 21px;
	text-align: justify;
}
.service_item_sub_bubble {
	letter-spacing: -.15px;
}